@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Marcellus&family=Montserrat:wght@500&family=Nanum+Myeongjo:wght@700&family=Poppins:wght@200&family=Tilt+Prism&display=swap');

body{
    background: #A288E3;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Marcellus' ;

}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
.container{
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 25px;
}
.humidity{
  display: flex;
}
.chartandvalues{
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
 #listContainer,#humidity,#airquality{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: auto;
    overflow-y: hidden;;
    margin:  10px 10px ;
    padding: 5px;
    margin-right: 6px;
    white-space: nowrap;

 }

 #listContainer::-webkit-scrollbar,#humidity::-webkit-scrollbar,#airquality::-webkit-scrollbar {

    height: 6px;
  }
  #listContainer::-webkit-scrollbar-track,#humidity::-webkit-scrollbar-track,#airquality::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  #listContainer::-webkit-scrollbar-thumb ,#humidity::-webkit-scrollbar-thumb,#airquality::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
  }

  #listContainer::-webkit-scrollbar-thumb:hover, #humidity::-webkit-scrollbar-thumb:hover,#airquality::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

ul{
  
    transition: transform 0.3s ease-in-out;
    list-style: none;
    font-size: 36px;
  }
ul:hover{
  transform: scale(1.1);
}

.chartcontainer{
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  /* flex-wrap: wrap; */
  /* margin: 50px; */
  height: 100%;
  padding: 26px ;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  }
  @media  only screen and (max-width: 810px) {
    .chartcontainer{
      flex-wrap: wrap;
    }

    
    
  }
  .chartcontainer:hover{
    transform: scale(1.1);
  }
  .temprature{
    display: flex;
  }
.numcontainer{

  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #ffffff;
  display: inline-flex;
  border-radius: 10px;
  padding: 5px;
  height: 250px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}
.numcontainer:hover{
  transform: scale(1.1);
}